/* body */

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--grey1);
  background-color: var(--white);
}

/* current */

/* .current {
  position: relative;
} */

/* .current::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 37px;
  height: 2px;
  background-color: var(--green);
} */

html {
  scroll-behavior: smooth;
}
