:root {
  /* === Primary === */
  --dark-blue1: #142257;
  --dark-blue2: #1f3584;
  --sky-blue: #15b2f5;

  /* === Neutural === */
  --white: #ffffff;
  --black: #171921;
  --grey1: #545971;
  --grey3: #9ea3b5;
  --soft-grey: #e3e6f0;
  --light-grey: #f3f5f9;

  /* === System === */
  --yellow: #ffa928;
  --red: #ff5e5e;

  /* === Shades of Dark Blue === */
  --first-dark-shadow: #566ab1;

  /* === Shades of Blue === */
  --first-shadow: #5dcbfb;
  --second-shadow: #e8f7fe;
}
