<section class="hero-section">
  <div class="hero-container">
    <div class="hero-box">
      <img
        class="hero-img"
        srcset="../img/hero/hero-left@2x.jpg 2x"
        src="../img/hero/hero-left.jpg"
        alt="hpoto home service"
        width="412"
        height="836"
      />
      <img
        class="hero-img-part"
        src="../img/hero/decoration-left.svg"
        alt="white img"
        width="481"
        height="45"
      />
    </div>
    <div class="hero-center-box">
      <ul class="hero-services-list list">
        <li class="hero-services-item">
          <p class="hero-services-text">Maintenances</p>
        </li>
        <li class="hero-services-item">
          <p class="hero-services-text hero-services-text--circle">Repairs</p>
        </li>
        <li class="hero-services-item">
          <p class="hero-services-text">Improvements</p>
        </li>
      </ul>
      <h1 class="hero-title">
        Need improvement or repair your home? we can help!
      </h1>
      <ul class="hero-offers-list list">
        <li class="hero-offers-item">
          <svg
            class="hero-offers-icon"
            width="24"
            height="24"
            aria-label="offers-icon"
          >
            <use href="../img/svg/sprite.svg#icon-Ic_24-Check"></use>
          </svg>
          <p class="hero-offers-text">Free Quotes</p>
        </li>
        <li class="hero-offers-item">
          <svg
            class="hero-offers-icon"
            width="24"
            height="24"
            aria-label="offers-icon"
          >
            <use href="../img/svg/sprite.svg#icon-Ic_24-Check"></use>
          </svg>
          <p class="hero-offers-text">100% Commitment-Free</p>
        </li>
      </ul>
      <button class="hero-btn" type="button">
        Call Us Now
        <svg
          class="hero-btn-icon"
          width="48"
          height="48"
          aria-label="phone icon"
        >
          <use href="../img/svg/sprite.svg#icon-IC_phone"></use>
        </svg>
      </button>
      <ul class="hero-advantages-list list">
        <li class="hero-advantages-item">
          <div class="hero-advantages-box">
            <svg
              class="hero-advantages-icon"
              width="24"
              height="24"
              aria-label="guarantee icon"
            >
              <use href="../img/svg/sprite.svg#icon-Ic_24-Guarantee"></use>
            </svg>
          </div>
          <p class="hero-advantages-text">Satisfaction Guarantee</p>
        </li>
        <li class="hero-advantages-item">
          <div class="hero-advantages-box">
            <svg
              class="hero-advantages-icon"
              width="24"
              height="24"
              aria-label="guarantee icon"
            >
              <use href="../img/svg/sprite.svg#icon-Ic_24-Clock"></use>
            </svg>
          </div>
          <p class="hero-advantages-text">24H Availability</p>
        </li>
        <li class="hero-advantages-item">
          <div class="hero-advantages-box">
            <svg
              class="hero-advantages-icon"
              width="24"
              height="24"
              aria-label="guarantee icon"
            >
              <use href="../img/svg/sprite.svg#icon-Ic_24-Map-pin"></use>
            </svg>
          </div>
          <p class="hero-advantages-text">Local US Professional</p>
        </li>
        <li class="hero-advantages-item">
          <div class="hero-advantages-box">
            <svg
              class="hero-advantages-icon"
              width="24"
              height="24"
              aria-label="guarantee icon"
            >
              <use href="../img/svg/sprite.svg#icon-Ic_24-Calendar"></use>
            </svg>
          </div>
          <p class="hero-advantages-text">Flexible Appointments</p>
        </li>
      </ul>
    </div>
    <div class="hero-box">
      <img
        class="hero-img"
        srcset="../img/hero/hero-right@2x.jpg 2x"
        src="../img/hero/hero-right.jpg"
        alt="hpoto home service"
        width="412"
        height="836"
      />
      <img
        class="hero-img-part--right"
        src="../img/hero/decoration-right.svg"
        alt="white img"
        width="481"
        height="45"
      />
    </div>
  </div>
</section>
